<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password Reset</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
        />
        <style>
            body {
                font-family: "Nunito", sans-serif;
                background-color: #eaf0ff;
                margin: 0;
                padding: 0;
            }

            .email-container {
                max-width: 600px;
                margin: 20px auto;
                background-color: #eaf0ff;
                padding: 20px;
                border-radius: 8px;
            }

            h1 {
                color: #415da1;
                text-align: left;
            }

            p {
                color: #101c37;
                font-size: 16px;
                line-height: 1.6;
                margin-bottom: 20px;
            }

            a {
                color: #fff;
            }

            .button-container {
                text-align: left;
                margin-top: 20px;
            }

            .reset-button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #869dd4;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                font-size: 16px;
                transition: background-color 0.3s ease;
            }

            .reset-button:hover {
                background-color: #6d86c2;
            }

            .reset-button:visited {
                color: #fff; /* Atur warna teks menjadi putih */
                text-decoration: none; /* Hilangkan garis bawah pada link yang telah dikunjungi */
            }
        </style>
    </head>
    <body>
        <div class="email-container">
            <h1>Hello, <%= username %>.</h1>
            <p>
                You recently requested to reset your password for your
                HealAssist account. Use the button below to reset it.
                <strong
                    >This password reset is only valid for the next 1
                    hour</strong
                >.
            </p>
            <div class="button-container">
                <a
                    href="http://localhost:3000/reset-password?token=<%= resetToken %>&email=<%= email %>"
                    class="reset-button"
                    >Reset Password</a
                >
            </div>
            <p>Regards,<br />HealAssist</p>
        </div>
    </body>
</html>
